<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uniulm.bagception.rfidapi.miniusbconnectionservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.usb.host" >
    </uses-feature>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="de.uniulm.bagception.rfidapi.miniusbconnectionservice.MiniMeUSBConnectionServiceControl"
            android:label="@string/title_activity_mini_me_usbconnection_service_control" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />  
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
        
        <service 
            android:name=".service.USBConnectionService"
            android:process=":USBConnectionServiceProcess" 
            >
             <intent-filter>
             <action android:name="de.uniulm.bagception.service.USBConnectionServiceRemote" >
             </action>
          </intent-filter>
            
            
        </service>
        
    </application>

</manifest>